.grant-list {
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
    border-color: lightgray;
}

.grant-title {
    font-size: 18px;
    margin-bottom: 0;
}

.grant-card {
    border-radius: 5px;
    background: lightgray;
    margin-bottom: 10px;
}

.grant-card:hover {
    cursor: pointer;
}

.grant-active {
    background: #0085ad;
    box-shadow: inset 0 0 5px 0 gray;
    color: ghostwhite;
}

.grant-active .grant-title, .grant-active .grant-balance {
    color: ghostwhite;
}

.grant-balance {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.balance-description {
    font-size: 12px;
    margin-left: 5px;
}

.transaction-header {
    margin-top: 30px;
}

@media (max-width: 450px) {
    .balance-description {
        display: none
    }
}